/* @import "bootstrap/dist/css/bootstrap.min.css"; */

body {
    background-color: yellow;
    min-height: 100vh;
}

    .main-container {
        display: flex;
        /* width: 100%; */
        /* height: 100%; */
        justify-content: flex;
        align-items: center;
    }


    
        .input-container {
            display: flex;
            flex-direction: column;
            width: 500px;
            height: 600px;
            background-color: blue;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            font-size: x-large;
        }
            .input-boxes {
                display: flex;
                margin: 20px;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                font-size: large;
            }

            .input-ckboxes {
                text-align: center;
                font-size: large;
            }
                .txtbox {
                    border-radius: 5px;
                    width: 200px;
                    height: 30px;

                }

                .ckbox {
                    /* border-radius: 5px; */
                    /* width: 10px; */
                    /* height: 30px; */
                    font-size: large;
                }