@tailwind base;
@tailwind components;
@tailwind utilities;

#title {
    font-weight: 800;
    font-size: 80px;
    background-image: linear-gradient(45deg, #FEFE69, #DDF969, #A9F36A, #78EC6C, #A3DE34, #57E86B);
    background-size: 100%;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: trans;
    

}
.main-container {
    display: flex;
    /* flex-direction: row;x
    width: 800px;
    height: 800px; */
    /* background-image: linear-gradient(45deg, #FEFE69, #DDF969, #A9F36A, #78EC6C, #A3DE34, #57E86B); */
    background-color: #ffff00;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

    .Product {
        width: 500px;
        height: 600px;
        background-color: aliceblue;
        padding: 20px;
        margin: 20px;

    }

    .btn-div {
        width: 100px;
        height: 100px;
    }

        .Button {
            display: inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50 !important;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

            .utton:hover {background-color: #3e8e41}

            .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
            }

    