@tailwind base;
@tailwind components;
@tailwind utilities;

/* title main page */
html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 


}
/* .snap {
  scroll-snap-type: y mandatory;
  overflow-y: scroll; */
/* } */
.main {
  width: 100%;
  height: 100%;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  /* scroll-snap-align: start; */
}

  #img1 {
    width: 100vw;
    height: 100vh;
    /* scroll-snap-align: start; */
    



  }
  .title-pg { /* Grow Milk text */
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(45deg, #FEFE69, #DDF969, #A9F36A, #78EC6C, #A3DE34, #57E86B);
      background-size: 100%;
      color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: trans;
      /* scroll-snap-align: start; */


    
    }
    .title {
      font-size: 325px;
      font-weight: 900;
      text-align: center;
      background-size: 100%;
      /* scroll-snap-align: start; */

    }

    /* Milk splash page 1 */
  .fact-one {
    display: flex;
    width: 100%;
    height: 100%;
    /* scroll-snap-align: start; */

  } 

   .fact-one-img {
    width: 1800px;
    height: 900px;
    max-width: 90%;
    max-height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    /* scroll-snap-align: start; */


  }

  .pg-one-textbox {
    width: 500px;
    height: 275px;
    background-color: rgba(197, 190, 190, 0.87);
    border-radius: 10px;
    padding-top: 15px; 
    /* scroll-snap-align: start; */
    
  }

  .fact-one-text {
    height: 100%;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    padding-top: 15px; 
    /* scroll-snap-align: start; */

    }

   
   
/* lady in Milk page */
.page-three {
  width: 100%;
  height: 100%;

}
  .fact-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  
  }

  .fact-two-img {
    
    width: 2000px;
    height: 1100px;
    /* width: auto;
    height: auto; */
    max-width: 100vw;
    max-height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .fact-two-text-box {
    background-color: rgb(147, 207, 231);
    height: 950px;
    width: 50;
    text-align: left;
  }

  .text-align {
    width: 300px;
    height: 500px;
    padding:45px;
    padding-top: 120px;
  }

      #line::after {
        content: "\a";
        white-space: pre;
      }


      .fact-two-text {
      font-size: 20px;
      font-weight: 700;
      padding: 10px;
      }

/* cow and baby page */
.page-four {
  width: 100%;
  height:100%;
}

  .fact-three-img {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* height: 100%; */
  }
    #pg4-img1 {
      width: 500px;
      height: 700px;
    }

    #pg4-img2 {
      width: 100vw;
      height: 46vh;
    }

  .text-box {
    width: 35vw;
    height: 39vh;
    background-color: rgba(225, 236, 236, 0.993);
  }

    .pg4-text-align {
      padding-top: 65px;
    }

      .pg4-text {
        font-weight: 750;
      }

/* .main-btm {
      scroll-snap-align: start;

}*/

.main-fin {
  width: 100vw;
  height: 100vh;
}

#fin {
  width: 2000vw;
  height: 100vh;
}

.title-fin {
  font-size: xx-large;
}
     
@media screen and (max-width: 450px) and (min-width: 300px) {
  .main, .title-pg, .title {
      font-size: 115px;
    }
}
    
@media screen and (max-width: 780px) and (min-width: 450px) {
  .main, .title-pg, .title {
      font-size: 200px;
    }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .fact-one-text {
      font-size: 12px;
      width: 300px;
      height: 500px;
      justify-content: right;
    }
}
    
@media screen and (max-width: 450px) and (min-width: 300px) {
   .fact-one-img {
      width: 5%;
      height: 10%;
    }
}

@media screen and (max-width: 780px) and (min-width: 450px) {
  .fact-one-text {
      font-size: 15px;
      width: 300px;
      height: 500px;
      justify-content: right;
    }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .page-three {
      display: flex;
      /* flex-direction: column; */
    
    }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .fact-two-text-box {
      width: 115vw;
      height: 50vw;
      /* padding-top: 200px; */
    
    }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .fact-two-text .text-align {
      font-size: 10px;
      text-align: left;
      /* width: 100px; */
      /* height: 100px; */
      /* padding-right: 100px; */
      /* padding-top: 50px; */

    }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .text-align {
      width: 300px;
      height: 50px;
      padding-bottom: 500px;
    }
}